<header>
    <!-- Import Styles Modules -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Import Calendar Module -->
    <script src='../js/main.js'></script>
</header>

<body>
    <!-- Login -->
    <div id="login-container" class="container col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="email" class="form-control" id="username" placeholder="Enter Username">
            </div>
            <button id="log-in" class="btn btn-primary">Log In</button>
    </div>
    <!-- Calendar Container -->
    <div id="calendar-container" style="display: none;" class="container col-md-12 mt-5">
        <button id="weekly" class="btn">
            Weekly
        </button>
        <button id="monthly" class="btn">
            Monthly
        </button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
              Others Calendar
            </button>
            <div id="dropDown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        <div class="col-md-12 d-flex justify-content-between" id="month-title">
            <button id="prev" class="btn" style="display: none">
                <img src="../images/chevron-circle-left-solid.svg" class="arrow-icon">
            </button>
            <button id="prev-week" class="btn">
                <img src="../images/chevron-circle-left-solid.svg" class="arrow-icon">
            </button>
            <h1 id="month-name"> Enero </h1>
            <button id="next-week" class="btn">
                <img src="../images/chevron-circle-right-solid.svg" class="arrow-icon">
            </button>
            <button id="next" class="btn" style="display: none">
                <img src="../images/chevron-circle-right-solid.svg" class="arrow-icon">
            </button>

        </div>
        <!-- Days container -->
        <div id="week-calendar">
            <div class="container" id="week-calendar-hours" style="float:left; width:1%; margin-top: 60px">

            </div>

            <div id="week-calendar-days" class="row m-auto full-width">

            </div>
        </div>
        <div id="month-calendar">
            <div id="month-calendar-days" class="row m-auto full-width">

            </div>
        </div>
        <!-- Add event modal -->
    </div>
    <div id="event-modal" class="modal fade show" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add an event</h5>
                    <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id='event-id' value="" hidden />
                    <input id="submit-type" value='save' hidden />
                    <p>Date: DD-MM-YYYY</p>
                    <input id="event-date" type="text" class="form-control" />
                    <p>Start time: HH-MM</p>
                    <input id="event-start-time" type="text" class="form-control" />
                    <p>End time: HH-MM</p>
                    <input id="event-end-time" type="text" class="form-control" />
                    <p>Title</p>
                    <input id="event-title" type="text" class="form-control" />
                    <p>Description</p>
                    <input id="event-description" type="text" class="form-control" />
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Invite</th>
                          </tr>
                        </thead>
                        <tbody id="users-table">
                        </tbody>
                      </table>
                </div>
                <div class="modal-footer">
                    <button id="delete-event" type="button" class="btn btn-primary">Delete</button>
                    <button id="save-event" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    /* Execute script for create calendar */
    generateCalendar(document);
</script>